{% extends "base.html.twig" %}

{% block body %}
    <h1>Record creation</h1>
    <div class="row well">
        <div class="col-sm-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}